.Home {
  text-align: center;
}

.Mainhome-header {
  min-height: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.logo {
  float: left;
  position: sticky;
  padding: 20px 20px;
}

.searching {
  float: left;
  position: sticky;
  padding: 20px;
}
.search_text {
  font-size: 20px;
  width: 300px;
  border: solid;
  border-bottom-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  /* border-style: 10px; */
}
.search_btn {
  border: none;
  background: none;
}
.search_img {
  width: 20px;
  height: 20px;
}

.Register {
  float: right;
  font-size: 15px;
  padding: 20px 20px;
}
.login {
  padding: 10px;
}
.signup {
  padding: 10px;
}

li {
  list-style: none;
  float: left;
  padding: 12px 16px;
}

.menu-list {
  background-color: rgb(245, 226, 140);
  border-radius: 40px 40px;
  margin: 0px;
}
.menu-list span:hover {
  font-weight: bolder;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .boardList {
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.listBoard-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 10px;
  min-width: 160px;
  left: 0;
  right: 0;
  /* z-index: 1; */
}
.listBoard-content span {
  float: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.listBoard-content span:hover {
  font-weight: bolder;
}
.dropdown:hover .listBoard-content {
  display: block;
}

#mainHomeList {
  padding-top: 20px;
  margin: 0;
}
